---

In [ ]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

db_config = {
'user': 'practicum_student', # username
'pwd': 'QnmDH8Sc2TQLvy2G3Vvh7', # password
'host': 'yp-trainers-practicum.cluster-czs0gxyx2d8w.us-east-1.rds.amazonaws.com',
'port': 5432, # connection port
'db': 'data-analyst-final-project-db' # the name of the database
}
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
db_config['pwd'],
db_config['host'],
db_config['port'],
db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

query='''
SELECT *
FROM books
'''

pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
...,...,...,...,...,...,...
995,996,571,Wyrd Sisters (Discworld #6; Witches #2),265,2001-02-06,147
996,997,454,Xenocide (Ender's Saga #3),592,1996-07-15,297
997,998,201,Year of Wonders,358,2002-04-30,212
998,999,94,You Suck (A Love Story #2),328,2007-01-16,331
999,1000,509,Zen and the Art of Motorcycle Maintenance: An ...,540,2006-04-25,143

In [2]:
query='''
SELECT *
FROM authors
'''

pd.io.sql.read_sql(query, con = engine)

     author_id                                author
0            1                            A.S. Byatt
1            2        Aesop/Laura Harris/Laura Gibbs
2            3                       Agatha Christie
3            4                         Alan Brennert
4            5              Alan Moore/David   Lloyd
..         ...                                   ...
631        632         William Strunk Jr./E.B. White
632        633                           Zadie Smith
633        634                 Zilpha Keatley Snyder
634        635                    Zora Neale Hurston
635        636  Åsne Seierstad/Ingrid Christopherson

[636 rows x 2 columns]

In [3]:
query='''
SELECT *
FROM ratings
'''

pd.io.sql.read_sql(query, con = engine)

      rating_id  book_id        username  rating
0             1        1      ryanfranco       4
1             2        1   grantpatricia       2
2             3        1    brandtandrea       5
3             4        2        lorichen       3
4             5        2     mariokeller       2
...         ...      ...             ...     ...
6451       6452     1000  carolrodriguez       4
6452       6453     1000         wendy18       4
6453       6454     1000      jarvispaul       5
6454       6455     1000           zross       2
6455       6456     1000         fharris       5

[6456 rows x 4 columns]

In [4]:
query='''
SELECT *
FROM reviews
'''

pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
...,...,...,...,...
2788,2789,999,martinadam,Later hospital turn easy community. Fact same ...
2789,2790,1000,wknight,Change lose answer close pressure. Spend so now.
2790,2791,1000,carolrodriguez,Authority go who television entire hair guy po...
2791,2792,1000,wendy18,Or western offer wonder ask. More hear phone f...
2792,2793,1000,jarvispaul,Republican staff bit eat material measure plan...

In [5]:
query='''
SELECT *
FROM publishers
'''

pd.io.sql.read_sql(query, con = engine)

     publisher_id                          publisher
0               1                                Ace
1               2                           Ace Book
2               3                          Ace Books
3               4                      Ace Hardcover
4               5  Addison Wesley Publishing Company
..            ...                                ...
335           336         Workman Publishing Company
336           337                         Wyatt Book
337           338              Yale University Press
338           339                           Yearling
339           340                     Yearling Books

[340 rows x 2 columns]

__Número de libros publicados después del 1 de enero de 2000__

In [6]:
query='''
SELECT count(*)
FROM books
WHERE publication_date > '2000-01-01' 
'''

pd.io.sql.read_sql(query, con = engine)

   count
0    819

__Número de reseñas de usuarios y la calificación promedio para cada libro.__

In [7]:
query='''
SELECT
    books.book_id,
    books.title,
    COUNT(reviews.review_id) AS numero_reseñas,
    AVG(ratings.rating) AS calificacion_promedio
FROM
    books 
INNER JOIN reviews ON books.book_id = reviews.book_id
INNER JOIN ratings ON books.book_id = ratings.book_id
GROUP BY
    books.book_id, books.title
ORDER BY
    numero_reseñas ASC
'''

pd.io.sql.read_sql(query, con = engine)

,book_id,title,numero_reseñas,calificacion_promedio
0,510,Phantom (Sword of Truth #10),2,3.500000
1,760,The Iliad/The Odyssey,2,4.000000
2,248,First Things First,2,4.000000
3,535,Ranma ½ Vol. 1 (Ranma ½ (US 2nd) #1),2,4.000000
4,930,To Green Angel Tower (Memory Sorrow and Thor...,2,4.500000
...,...,...,...,...
989,299,Harry Potter and the Chamber of Secrets (Harry...,480,4.287500
990,302,Harry Potter and the Prisoner of Azkaban (Harr...,492,4.414634
991,673,The Catcher in the Rye,516,3.825581
992,750,The Hobbit or There and Back Again,528,4.125000
993,948,Twilight (Twilight #1),1120,3.662500

__Editorial que ha publicado el mayor número de libros con más de 50 páginas.__

In [8]:
query='''
SELECT 
    publishers.publisher, 
    COUNT(*) AS total_books
FROM 
    books
INNER JOIN publishers ON publishers.publisher_id = books.publisher_id
WHERE 
    num_pages > 50
GROUP BY 
    publishers.publisher
ORDER BY 
    total_books DESC
LIMIT
    1;

    
'''

pd.io.sql.read_sql(query, con = engine)

       publisher  total_books
0  Penguin Books           42

__Autor que tiene la más alta calificación promedio del libro: libros con al menos 50 calificaciones.__

In [9]:
query='''
SELECT 
  authors.author_id,
  authors.author,
  AVG(ratings.rating) AS avg_rating,
  COUNT(ratings.rating) AS total_rating
FROM 
    authors
    INNER JOIN books ON books.author_id = authors.author_id
    INNER JOIN ratings ON ratings.book_id = books.book_id
WHERE
    ratings.book_id IN (
        SELECT
            book_id
        FROM
            ratings
        GROUP BY
            book_id
        HAVING
            COUNT(*) >= 50
            )
GROUP BY
    authors.author_id,
    authors.author
ORDER BY
    avg_rating DESC
LIMIT
    1;


'''

pd.io.sql.read_sql(query, con = engine)

   author_id                      author  avg_rating  total_rating
0        236  J.K. Rowling/Mary GrandPré    4.287097           310

__Número promedio de reseñas de texto entre los usuarios que calificaron más de 50 libros.__

In [15]:
query='''

SELECT AVG(cnt_reviews) AS avg_review_text
FROM
(
  SELECT 
    reviews.username, 
    COUNT(reviews.text) AS cnt_reviews
  FROM
    (
      SELECT
          username
      FROM 
          ratings
      GROUP BY
          username
      HAVING COUNT(DISTINCT book_id) > 50) AS users_more_than_50_books
INNER JOIN reviews ON users_more_than_50_books.username = reviews.username
GROUP BY
  reviews.username
) AS final_result;


'''

pd.io.sql.read_sql(query, con = engine)

   avg_review_text
0        24.333333